{% extends 'examen/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}

{% block title %}Registro de Usuario - AlphaAutos{% endblock %}

{% block cabecera %}
<h1 class="text-center mt-3">Registro de Nuevo Usuario</h1>
{% endblock %}

{% block content %}
<h3>Rellena el formulario para crear una nueva cuenta de usuario.</h3>
<form method="post" action="{% url 'ExamenApp:registrar_usuario' %}" class="mt-4">
    {% csrf_token %}
    {% bootstrap_form formulario %}
    <button type="submit" class="btn btn-primary">Registrar Usuario</button>
</form>
{% endblock %}