{% extends 'examen/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}

{% block title %}Buscar Ensayo Clínico - ExamenApp{% endblock %}

{% block cabecera %}
<h1>Buscar Ensayo Clínico</h1>
{% endblock %}

{% block content %}
<h3>Rellena el formulario para buscar un ensayo clínico a la base de datos.</h3>
<form action="{% url 'ExamenApp:buscar_ensayo' %}" method="get" class="mt-4">
    {% csrf_token %}
    {% bootstrap_form formulario %}
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>
{% endblock %}