<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ExamenApp - Preparación{% endblock %}</title>
    {% load static %}
    {% load django_bootstrap5 %}
    {% load bootstrap_icons %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'examen/css/styles.css' %}">
</head>
<body>
    <header>
        {% include 'examen/nav.html' %}
    </header>

    <main class="container">
        {% block content %}
            {% endblock %}
    </main>

    <footer>
        {% include 'examen/footer.html' %}
    </footer>

    {% bootstrap_javascript %}
</body>
</html>