{% load static %}
<style>

    .btn-auth.logout{
        color: white;
    }

</style>

<nav class="navbar">
    <div class="logo">
        <img src="{% static 'examen/images/logo.png' %}" alt="Logo ExamenApp" class="logo-img">
        <span>ExamenApp</span>
    </div>
    
    <ul class="nav-links">
        {% if perms.ExamenApp.add_ensayoclinico %}
        <li><a href="{% url 'ExamenApp:crear_ensayo' %}">Crear Ensayo</a></li>
        {% endif %}
        <li><a href="{% url 'ExamenApp:listado_ensayos' %}">Listar Ensayos</a></li>
        {% if perms.ExamenApp.view_ensayoclinico %}
        <li><a href="{% url 'ExamenApp:buscar_ensayo' %}">Búsqueda avanzada</a></li>
        {% endif %}
    </ul>
    
    <div class="auth-group">
        {% if not user.is_authenticated %}
            <div class="auth-buttons">
                <a href="{% url 'login' %}" class="btn-auth login">Login</a>
                <a href="{% url 'ExamenApp:registrar_usuario' %}" class="btn-auth register">Registrarse</a>
            </div>
        {% else %}
            <div class="auth-buttons">
                <span class="welcome-msg">Bienvenid@, {{ user.username }}</span>
                <form action="{% url 'logout' %}" method="post" class="d-flex w-100">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item text-danger">
                        <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
                    </button>
                </form>
            </div>
        {% endif %}
    </div>
</nav>